<div class="h-screen w-screen absolute inset-0 flex items-center justify-center" style="background: url('https://img.freepik.com/free-photo/hex-background-networking_52683-137877.jpg?t=st=1718070602~exp=1718074202~hmac=eaf03fbc5545764f23273b0cb7608a962427046e82e5ee086ea99d1cc0bf1e87&w=360') no-repeat center center / cover;">
  <ion-card class="relative">
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  </ion-card>
</div>
