<div class="h-screen w-screen absolute inset-0 flex items-center justify-center" style="background: url('../../../assets/images/Sin\ título-4_Mesa\ de\ trabajo\ 1.png') no-repeat center center / cover;">
  <ion-card class="relative p-10">
    <div class="fixed top-0 left-0 flex">
      <ion-text class="text-sm flex">
        <img src="../../../assets/images/boton-de-flecha-izquierda-del-teclado.png" style="width: 14px; height: 14px;">
        <a href="/" class="hover:underline pb-10">Volver</a>
      </ion-text>
    </div>
    <ion-card-header class="relative flex flex-col items-center justify-center content-center">
      <ion-card-title class="text-2xl">¡Bienvenid&#64; de nuevo!</ion-card-title>
      <ion-card-subtitle class="text-lg">Inicia sesión</ion-card-subtitle>
    </ion-card-header>
    <form [formGroup]="loginForm" (submit)="loginForm.valid && login()" class="relative flex flex-col items-center justify-center content-center" >
      <div class="p-4">
        <ion-input style="width: 200px;" formControlName="email" type="email" label="Correo Electrónico" label-placement="floating" fill="outline" placeholder="Ingrese su Correo Electrónico"></ion-input>
        <div style="width: 200px;" class="bg-red-50 border-red-500 text-red-900 placeholder-red-700 focus:ring-red-500 focus:border-red-500" *ngIf="loginForm.controls['email'].touched && loginForm.controls['email']?.errors?.['required']">
          El correo es requerido.
        </div>
        <div style="width: 200px;"  class="bg-red-50 border-red-500 text-red-900 placeholder-red-700 focus:ring-red-500 focus:border-red-500" *ngIf="loginForm.controls['email']?.errors?.['email']">
          Ingresa un formato de correo válido.
        </div>
      </div>
      <div class="">
        <ion-input style="width: 200px;" formControlName="password" type="password" label="Contraseña" label-placement="floating" fill="outline" placeholder="Ingrese su Contraseña"></ion-input>
        <div style="width: 200px;" class="bg-red-50 border-red-500 text-red-900 placeholder-red-700 focus:ring-red-500 focus:border-red-500" *ngIf="loginForm.controls['password'].touched && loginForm.controls['password']?.errors?.['required']">
         La contraseña es requerida.
        </div>
        <div style="width: 200px;" class="bg-red-50 border-red-500 text-red-900 placeholder-red-700 focus:ring-red-500 focus:border-red-500" *ngIf="loginForm.controls['password']?.errors?.['minlength']">
          La contraseña debe tener al menos 8 caracteres.
        </div>
        <div style="width: 200px;" class="bg-red-50 border-red-500 text-red-900 placeholder-red-700 focus:ring-red-500 focus:border-red-500" *ngIf="loginForm.controls['password']?.errors?.['maxlength']">
          La contraseña no puede tener más de 20 caracteres.
        </div>
      </div>
      <div class="p-4">
        <ion-button [disabled]="!loginForm.valid" type="submit" color="tertiary">¡Iniciar sesión!</ion-button>
      </div>
      <div class="p-4">
          <ion-text class="text-sm">¿No tienes una cuenta?
            <a href="/register" class="hover:underline">Regístrate</a>
          </ion-text>
      </div>
      <div
      *ngIf="isAdministrator"
      class="p-4 text-sm text-red-800 rounded-lg bg-red-50" style="width: 200px;"
      role="alert"
    >
      Usuario no autorizado para ingresar.
    </div>
      <div
      *ngIf="errorMessage"
      class="p-4 text-sm text-red-800 rounded-lg bg-red-50" style="width: 200px;"
      role="alert"
    >
      {{ errorMessage }}
    </div>
    </form>
  </ion-card>
</div>
